#!/bin/bash
iadmin mkresc {{ replica_name }} replication
{% for host in groups['all'] %}
iadmin mkresc {{ host }}resource 'unixfilesystem' {{ host }}:/var/lib/irods/Vault
iadmin addchildtoresc {{ replica_name }}  {{ host }}resource
{% endfor %}
